<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<link rel="stylesheet" href="{{ url_for('static', filename='asset_code.css') }}">
	</head>
	<body>
		<h1>Simplify.ai</h1>

			<form action="http://simplify-app-simplify-app.containerization-cluster-de33fdede54b38622c85803c96d4b296-0000.us-south.containers.appdomain.cloud/" method="POST">
				<label form="description">Video Text:</label>
				<textarea type="text" id="description" name="description" rows="30" cols="100"></textarea>
				<button type="submit" class=cv_btn>Simplify</button>

			</form>
			<br>
			<br>
			Prediction: {{ prediction_text }}

	</body>
</html>
